  <!-- form using data driven approach -->
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >
    <ba-card cardTitle="Address Details" baCardClass="with-scroll">

        <!-- Permanent Address section begins here -->
        <!-- input permanent address -->
        <ba-card cardTitle="Permanent Address" baCardClass="with-scroll">
        <div class="form-group row" [ngClass]="{'has-error': (!permanentAddress.valid && permanentAddress.touched), 'has-success': (permanentAddress.valid && permanentAddress.touched)}">
            <label for="inputPermanentAddress" class="col-sm-2 control-label">
              <!-- if permanent address is invalid -->
              <span *ngIf="!permanentAddress.valid" class="fa fa-asterisk" style="color:red; font-size: 11px;"></span>
            Address </label>

          <div class="col-sm-6">
            <input [formControl]="permanentAddress" type="text" class="form-control" id="inputPermanentAddress" placeholder="your address">
            <span *ngIf="!permanentAddress.valid && permanentAddress.touched" class="help-block sub-little-text">Address is required</span>
          </div>
        </div>

        <!-- select permanent city -->
        <div class="form-group row" [ngClass]="{'has-error': (!permanentCity.valid && permanentCity.touched), 'has-success': (permanentCity.valid && permanentCity.touched)}">
            <label for="selectPermanentCity" class="col-sm-2 control-label">
              <!-- if permanent City is invalid -->
                <span *ngIf="!permanentCity.valid" class="fa fa-asterisk" style="color:red; font-size: 11px;"></span>
              City</label>

            <div class="col-sm-6">
                <select [formControl]="permanentCity" class="form-control" id="selectPermanentCity">
                    <option value="" selected disabled>--select city--</option>
                    <option *ngFor="let city of cities"  value={{city.city}}>
                      {{city.city}}
                    </option>
                </select>
                <span *ngIf="!permanentCity.valid && permanentCity.touched" class="help-block sub-little-text">City is required</span>
            </div>
        </div>

        <!-- input permanent phone -->
        <div class="form-group row" [ngClass]="{'has-error': (!permanentPhone.valid && permanentPhone.touched), 'has-success': (permanentPhone.valid && permanentPhone.touched)}">
          <label for="inputPermanentPhone" class="col-sm-2 control-label">
            <!-- if permanent phone is invalid -->
              <span *ngIf="!permanentPhone.valid" class="fa fa-asterisk" style="color:red; font-size: 11px;"></span>
            Phone</label>

          <div class="col-sm-6">
            <input [formControl]="permanentPhone" type="text" class="form-control" id="inputPermanentPhone" [textMask]="{mask: mobileMask}" placeholder="____-_______">
            <span *ngIf="!permanentPhone.valid && permanentPhone.touched" class="help-block sub-little-text">Phone is required</span>            
          </div>
        </div>
        </ba-card>
          <!-- Permament Address section ends here -->

        <!-- Section for Mailing Address begins here-->
        <ba-card cardTitle="Mailing Details" baCardClass="with-scroll">
          <!-- checkbox if mailing address is as same as permanent address -->
          <div class="form-group">
              <div class="offset-sm-2">
                <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                      <input (change)="onChange($event.target.checked)" [formControl]="mailingCheckbox" type="checkbox">
                      <span>same as permanent address</span>
                  </label>
                </div>
              </div>
          </div>

          <!--input mailing address -->
          <div class="form-group row" [ngClass]="{'has-error': (!mailingAddress.valid && mailingAddress.touched && !mailingAddress.disabled), 'has-success': (mailingAddress.valid && mailingAddress.touched && !mailingAddress.disabled)}">
              <label for="inputMailingAddress" class="col-sm-2 control-label">
                  <span *ngIf="!mailingAddress.valid && !mailingAddress.disabled" class="fa fa-asterisk" style="color:red; font-size: 11px;"></span>
                Address</label>

              <div class="col-sm-6">
                <input [formControl]="mailingAddress" type="text" class="form-control" id="inputMailingAddress" placeholder="your mailing address" >
                <span *ngIf="!mailingAddress.valid && mailingAddress.touched && !mailingAddress.disabled" class="help-block sub-little-text">Address is required</span>                
              </div>
          </div>

          <!--select mailing city-->
          <div class="form-group row" [ngClass]="{'has-error': (!mailingCity.valid && mailingCity.touched && !mailingCity.disabled), 'has-success': (mailingCity.valid && mailingCity.touched && !mailingCity.disabled)}">
              <label for="selectMailingCity" class="col-sm-2 control-label">
                  <span *ngIf="!mailingCity.valid && !mailingCity.disabled" class="fa fa-asterisk" style="color:red; font-size: 11px;"></span>
                City</label>

              <div class="col-sm-6">
                  <select [formControl]="mailingCity" class="form-control" id="selectMailingCity">
                    <option value="" selected disabled>--select city--</option>
                    <option *ngFor="let city of cities"  value={{city.city}}>
                      {{city.city}}
                    </option>
                  </select>
                  <span *ngIf="!mailingCity.valid && mailingCity.touched && !mailingCity.disabled" class="help-block sub-little-text">City is required</span>                  
              </div>
          </div>

          <!-- input mailing phone -->
          <div class="form-group row" [ngClass]="{'has-error': (!mailingPhone.valid && mailingPhone.touched && !mailingPhone.disabled), 'has-success': (mailingPhone.valid && mailingPhone.touched && !mailingPhone.disabled)}" >
              <label for="inputMailingPhone" class="col-sm-2 control-label">
                  <span *ngIf="!mailingPhone.valid && !mailingPhone.disabled" class="fa fa-asterisk" style="color:red; font-size: 11px;"></span>
                  Phone</label>

              <div class="col-sm-6">
                <input [formControl]="mailingPhone" type="text" class="form-control" id="inputMailingPhone" [textMask]="{mask: mobileMask}" placeholder="____-_______">
                <span *ngIf="!mailingPhone.valid && mailingPhone.touched && !mailingPhone.disabled" class="help-block sub-little-text">Phone is required</span> 
              </div>
          </div>
        </ba-card>
        <!-- mailing address section ends here -->

        <!-- Section for Father Address Starts here -->
        <ba-card cardTitle="Father/Guardian Address" baCardClass="with-scroll">
          <!-- checkbox if father address is as same as permanent address -->
          <div class="form-group">
              <div class="offset-sm-2">
                <div class="checkbox">
                  <label class="checkbox-inline custom-checkbox nowrap">
                      <input (change)="onFChange($event.target.checked)" [formControl]="fatherCheckbox" type="checkbox" >
                      <span>same as permanent address</span>
                  </label>
                </div>
              </div>
          </div>

        <!-- input father address -->
          <div class="form-group row" [ngClass]="{'has-error': (!fatherAddress.valid && fatherAddress.touched && !fatherAddress.disabled), 'has-success': (fatherAddress.valid && fatherAddress.touched && !fatherAddress.disabled)}">
            <label for="inputFatherAddress" class="col-sm-2 control-label">
           <!-- if father address is invalid -->
            <span *ngIf="!fatherAddress.valid && !fatherAddress.disabled" class="fa fa-asterisk" style="color:red; font-size: 11px;"></span>
            Address</label>
            <div class="col-sm-6">
                <input [formControl]="fatherAddress" type="text" class="form-control" id="inputFatherAddress" placeholder="your father's address">
                <span *ngIf="!fatherAddress.valid && fatherAddress.touched && !fatherAddress.disabled" class="help-block sub-little-text">Address is required</span>
            </div>
          </div>

       <!--select father city -->
          <div class="form-group row" [ngClass]="{'has-error': (!fatherCity.valid && fatherCity.touched && !fatherCity.disabled), 'has-success': (fatherCity.valid && fatherCity.touched && !fatherCity.disabled)}">
            <label for="selectFatherCity" class="col-sm-2 control-label">
              <span *ngIf="!fatherCity.valid && !fatherCity.disabled" class="fa fa-asterisk" style="color:red; font-size: 11px;"></span>
            City</label>
  
            <div class="col-sm-6">
              <select [formControl]="fatherCity" class="form-control" id="selectFatherCity">
                <option value="" selected disabled>--select city--</option>
                <option *ngFor="let city of cities"  value={{city.city}}>
                  {{city.city}}
                </option>
              </select>
              <span *ngIf="!fatherCity.valid && fatherCity.touched && !fatherCity.disabled" class="help-block sub-little-text">City is required</span>
            </div>
          </div>

          <!-- input father phone -->
          <div class="form-group row" [ngClass]="{'has-error': (!fatherPhone.valid && fatherPhone.touched && !fatherPhone.disabled), 'has-success': (fatherPhone.valid && fatherPhone.touched && !fatherPhone.disabled)}">
              <label for="inputFatherPhone" class="col-sm-2 control-label">
                  <span *ngIf="!fatherPhone.valid && !fatherPhone.disabled" class="fa fa-asterisk" style="color:red; font-size: 11px;"></span>
              Phone</label>

              <div class="col-sm-6">
                <input [formControl]="fatherPhone" type="text" class="form-control" id="inputFatherPhone" [textMask]="{mask: mobileMask}" placeholder="____-_______" >
                <span *ngIf="!fatherPhone.valid && fatherPhone.touched && !fatherPhone.disabled" class="help-block sub-little-text">Phone is required</span>
              </div>
          </div>
        </ba-card>

        
      <!-- Submit Button -->
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-6">
            <button [disabled]="!form.valid" type="submit"  class="btn btn-primary pull-right">Save and Move Next</button>
          </div>
        </div>
      </ba-card>
      </form>
      