<ba-card cardTitle="Entry Test / Interview Marks">
  <div class="">
      <button class="btn btn-default align-left  col-lg-12" type="button" data-toggle="collapse" data-target="#collapseExampl" aria-expanded="false" aria-controls="collapseExample">
        Faculty of Arabic
      </button>
    </div>
    <br>
    
    
    <div class="horizontal-scroll collapse" id="collapseExampl">
        <div class="horizontal-scroll" >
            <table class="table table-bordered">
              <thead>
              <tr>
                <th colspan="6" rowspan="3"  class="align-center align-verticle-center">Progran Name</th>
                <th colspan="6"  class="align-center">Entry Test / Interview</th>
              </tr>
              <tr>
                <th colspan="6" class="align-center">Male</th>
              </tr>
              <tr>
                <th colspan="4" class="align-center">Verified Applications</th>
                <th colspan="2"></th>
              </tr>
              <tr>
                <th colspan="12">Departmant of Mathematics</th>
              </tr>
            </thead>

              <tbody>
                <tr class="align-center">
                  <td colspan="6" class="align-left">B.S Mathematics</td>
                  <td colspan="4">96</td>
                  <td colspan="1" class=" tabborder fa fa-upload"></td>
                  <td colspan="1" class="tabborder fa fa-eye"></td>
                </tr>
                <tr class="align-center">
                  <td colspan="6" class="align-left">B.Sc Mathematics</td>
                  <td colspan="4">76</td>
                  <td colspan="1" class=" tabborder fa fa-upload"></td>
                  <td colspan="1" class="tabborder fa fa-eye"></td>
                </tr>
                <tr class="align-center">
                  <td colspan="6" rowspan="3" class="align-left">B.Sc Mathematics</td>
                  <td colspan="4" rowspan="3">73</td>
                  <td colspan="1" class=" tabborder fa fa-upload"></td>
                  <td colspan="1" class="tabborder fa fa-eye"></td> 
                </tr>
                <tr class="align-center">
                  <td colspan="1" class=" tabborder fa fa-upload"></td>
                  <td colspan="1" class="tabborder fa fa-eye"></td>
                </tr>
                <tr class="align-center">
                  <td colspan="1" class=" tabborder fa fa-bullhorn"></td>
                  <td colspan="1" class="tabborder fa fa-eye"></td>
                </tr>
                    
                       

              </tbody>
            </table>
            <br>
          </div>

      </div>



    <div class="">
        <button class="btn btn-default align-left col-lg-12" type="button" data-toggle="collapse" data-target="#AppliedSciences" aria-expanded="false" aria-controls="collapseExample">
          Faculty of Basic And Applied Sciences 
         </button>
      </div>
      <br>


      <div class="">
          <button class="btn btn-default align-left col-lg-12" type="button" data-toggle="collapse" data-target="#English" aria-expanded="false" aria-controls="collapseExample">
            Faculty of English
            </button>
        </div>
    <br>


    
    

    

</ba-card>