<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <ba-card cardTitle="Language Details" baCardClass="with-scroll">
        <!-- Headings containing label for language,written and spoken -->
        <div class="form-group row">
            <label for="testType" class="col-sm-3 control-label"><h3>Test Type</h3></label>
            <label for="yearTaken" class="col-sm-3 control-label"><h3>Year Taken</h3></label>
            <label for="obtainedMarks" class="col-sm-3 control-label"><h3>Obtained Marks</h3></label>
        </div>
    
        <div class="row">
            <!-- select Test Type-->
            <div class="col-sm-3">
                <div formArrayName="testTypes">
                    <div class="form-group" *ngFor="let testType of testTypes.controls; let i = index">
                        <select class="form-control" style="height: 35px;" formControlName="{{i}}">
                            <option value="" selected disabled>Test Type</option>
                            <option value="NAT">NAT</option>
                            <option value="GAT">GAT</option>
                        </select>      
                    </div>
                </div>
            </div>
            <!-- select spoken skill -->
            <div class="col-sm-3">
                <div formArrayName="yearTakens">
                    <div class="form-group" *ngFor="let year of yearTakens.controls; let i = index">
                        <select class="form-control" style="height: 35px;" formControlName="{{i}}">
                            <option value="" selected disabled>Year Taken</option>
                            <option *ngFor="let year of years" value={{year.year}}>
                                {{year.year}}
                            </option>
                        </select>       
                    </div>
                </div>
            </div>
            <!-- input language -->
            <div class="col-sm-3">
                <div formArrayName="obtainedMarks">
                    <div class="form-group" *ngFor="let obtainedMark of obtainedMarks.controls; let i = index">
                        <input type="text" style="height: 35px;" class="form-control" formControlName="{{i}}" placeholder="Obtained Marks">       
                    </div>
                </div>
            </div>
            <!-- buttons to add or delete an array -->
            <div class="col-sm-3">
                 <div class=" form-group">
                    <button type="button" class="btn btn-default ion-trash-a pull-right" (click)="onDeleteLanguage()">Delete</button>
                    <button type="button" class="btn btn-default ion-ios-plus-outline pull-right" (click)="onAddLanguage()">Add</button>
                </div>
            </div>
        </div>
        <!-- submit buttons for saving and moving next or skipping the step -->
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button [disabled]="!form.valid" type="submit"  class="btn btn-primary pull-right">Save and Move Next</button>
                <button (click)="onSkipClick()" class="btn btn-default pull-right">Skip this step</button>
            </div>
        </div>
    </ba-card>
</form>