<ba-card cardTitle="Fee Verification">
    <div class="accent" style="margin: auto 20%;">
      <h3>Info</h3>
      Please comma seperate "<strong>form numbers</strong>" you wat to verify e.g 123455, 123456,
        123456 and press <strong>submit</strong> button
      
      </div>
      <br>
    <form >      
        <div class="form-group">
          <textarea placeholder="Default Input" class=" form-control col-xl-8 col-lg-6 col-md-6 col-sm-10 col-xs-10" style="margin: auto 20%;" id="textarea01"></textarea>
        </div>
        <button class="btn btn-primary " style="margin: auto 20%;">Submit</button>
        <button class="btn " style="margin: auto -20%;">Clear</button>
      </form>
      <br>
      <br>
      <div class="accent" style="margin: auto 20%;">
          <h3>Info</h3>
          Please select all records and press verify button
          
          </div>
          <br>
      <!-- <div class="horizontal-scroll" >
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                 <input type="checkbox" name="tc" class="float-left" >
                 <label>Select</label>
                </th>
              <th>Form Number</th>
              <th>Name</th>
              <th>Program</th>
              <th>Print Form</th>
              
            </tr>
            </thead>
            <tbody>
              <td >
                <input type="checkbox" name="tc" >
              </td>
              <td>5456746513
                <label class=" row float-right btn  "></label>
              </td>
              <td >yousaf
                  <label class="float-right btn  "></label>
              </td>
              <td>BSSE
                  <label class="float-right btn "></label>
              </td>
              <td >
                  <button class="btn-success btn">Print</button>
              </td>
            </tbody>
          </table>
        </div> -->



        <div class="horizontal-scroll" >
          <table class="table table-bordered">
            <thead>
            <tr>
              <th  class="align-center">
                <input type="checkbox">
              </th>
              <th  class="align-center">Form No</th>
              <th  class="align-center">Name</th>
              <th  class="align-center">Program Name</th>
              <th  class="align-center"></th>
              </tr>
            
            
            </thead>
            <tbody>
              <tr>
                <td class="align-center"><input type="checkbox"></td>
                <td class="align-center">12345</td>
                <td class="align-center">Muhammad Yousaf Ali Raza</td>
                <td class="align-center">bs in software engineering</td>
                <td class="align-center">
                  <button class="align-center btn btn-success">Print</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>



        <br>
        <div>
          <button class="btn-success btn" >Verify</button>
        </div>
      
</ba-card>