.accent {
    margin-top: 30px;
    color: yellow;
    line-height: 14px;
    font-size: 14px;
    padding-left: 11px;
    border-left: 4px solid yellow;
    margin-left: 13px;
  }

  .align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}