<ba-card cardTitle="Print Application">
    <div class="row searcdiv">
        <form class="row  form-inline col-lg-12">
            <div class="col-lg-6">
              <label>Form No/Name/Father Name/CNIC/Passport/Email:</label>
              <label></label>
            </div>
            <div class="form-group col-lg-3">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Filter">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Clear</button>
              </div>
          </form>
    </div>



  


    <div class="horizontal-scroll" >
        <table class="table table-bordered">
          <thead>
          <tr>
            <th colspan="1" rowspan="2" class="align-center">Form No</th>
            <th colspan="1" rowspan="2" class="align-center">Name</th>
            <th colspan="2" rowspan="2" class="align-center">Program</th>
            <th colspan="2" class="align-center">Print</th>
           
            
          </tr>
          <tr>
              <th class="align-center">Admission Form</th>
              <th class="align-center" colspan="1">Test Slip</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="1" class="align-center">12546843</td>
              <td colspan="1" class="align-center">Noman</td>
              <td colspan="2" class="align-center">Program</td>
              <td colspan="1" class="align-center">
                <button class="btn btn-success">Print Form</button>
              </td>
              <td colspan="1" class="align-center">
                <button class="btn btn-success">Print Slip</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



</ba-card>