

.tableset{border-collapse:collapse;}


.fa-asterisk {
    color: red;
    font-size: 11px;
}

.searcdiv {
    padding: 10px;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}