<ba-card cardTitle="Manage Merit">
  <div class="">
      <button class="btn btn-default align-left  col-lg-12" type="button" data-toggle="collapse" data-target="#first" aria-expanded="false" aria-controls="collapseExample">
        Faculty of Arabic
      </button>
    </div>
    <br>
    
    
    <div class="horizontal-scroll collapse" id="first">
        <div class="horizontal-scroll" >
            <table class="table table-bordered">
              <thead>
              <tr>
                <th colspan="8" rowspan="2"  class="align-center align-verticle-center">Progran Name</th>
                <th colspan="4"  class="align-center">Merit Manager</th>
              </tr>
              <tr>
                <th colspan="4" class="align-center">Male</th>
              </tr>
              
              <tr>
                <th colspan="12">Departmant of Mathematics</th>
              </tr>
            </thead>

              <tbody>
                <tr class="align-center">
                  <td colspan="8" class="align-left">B.S Mathematics</td>
                  <td colspan="1">96</td>
                  <td colspan="1" ><i class="fa fa-magic"></i></td>
                  <td colspan="1" ><i class="fa fa-eye"></i></td>
                  <td colspan="1" ><i class="fa fa-bars"></i></td>
                </tr>
                <tr class="align-center">
                  <td colspan="8" class="align-left">B.Sc Mathematics</td>
                  <td colspan="1">76</td>
                  <td colspan="1" ><i class="fa fa-magic"></i></td>
                  <td colspan="1" ><i class="fa fa-eye"></i></td>
                  <td colspan="1" ><i class="fa fa-bars"></i></td>
                </tr>
                <tr class="align-center">
                  <td colspan="8" rowspan="3" class="align-left">B.Sc Mathematics</td>
                  <td colspan="1" rowspan="3">73</td>
                  <td colspan="1" ><i class="fa fa-magic"></i></td>
                  <td colspan="1" ><i class="fa fa-eye"></i></td>
                  <td colspan="1" ><i class="fa fa-bars"></i></td>
                
                    
                       

              </tbody>
            </table>
            <br>
          </div>

      </div>



    <div class="">
        <button class="btn btn-default align-left col-lg-12" type="button" data-toggle="collapse" data-target="#AppliedSciences" aria-expanded="false" aria-controls="collapseExample">
          Faculty of Basic And Applied Sciences 
         </button>
      </div>
      <br>


      <div class="">
          <button class="btn btn-default align-left col-lg-12" type="button" data-toggle="collapse" data-target="#English" aria-expanded="false" aria-controls="collapseExample">
            Faculty of English
            </button>
        </div>
    <br>


    
    

    

</ba-card>