@import '../../theme/sass/auth';

@-webkit-keyframes autofill {
    to {
        color: #FFFFFF;
        background-color: rgba(255, 255, 255, 0.1);
    }
  }
  
  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  } 
toaster-container /deep/ {
    #toast-container .toast-close-button {
     right: 0;
   }
 }