table{border-collapse:collapse;}
td{padding:17px;border:1px solid white}
.row1{
width: 100%;}
.row2{background-color:#fc6;}
.row3{background-color:#ccf;}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.btn-small {
    height: 25px;
}
.btn-default {
    transform: none;
}

.align-verticle-center {
    vertical-align: middle;
}