



<ba-card cardTitle="Verify Application">
  <div class="">
      <button class="btn btn-default align-left  col-lg-12" type="button" data-toggle="collapse" data-target="#first" aria-expanded="false" aria-controls="collapseExample">
        Faculty of Arabic
      </button>
    </div>
    <br>
    
    <div class="horizontal-scroll collapse" id="first" >
      <table class="table table-bordered">
        <thead>
        <tr>
          <th colspan="4" rowspan="3" class="align-center align-verticle-center">Program Name</th>
          <th colspan="8" class="align-center">Modify Application</th>
          </tr>
        <tr>
          <th colspan="4"  class="align-center">Male</th>
          <th colspan="4" class="align-center">Female</th>
        </tr>
        <tr>
          <th class="align-center">Total</th>
          <th class="align-center">Fee</th>
          <th class="align-center">Documents</th>
          <th class="align-center"></th>
  
          <th class="align-center">Total</th>
          <th class="align-center">Fee</th>
          <th class="align-center">Documents</th>
          <th class="align-center"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <br>
    </div>
    
    



    <div class="">
        <button class="btn btn-default align-left col-lg-12" type="button" data-toggle="collapse" data-target="#AppliedSciences" aria-expanded="false" aria-controls="collapseExample">
          Faculty of Basic And Applied Sciences 
         </button>
      </div>
      <br>

      <div class="horizontal-scroll collapse" id="AppliedSciences" >
        <table class="table table-bordered">
          <thead>
          <tr>
            <th colspan="4" rowspan="3" class="align-center align-verticle-center">Program Name</th>
            <th colspan="8" class="align-center">Modify Application</th>
            </tr>
          <tr>
            <th colspan="4"  class="align-center">Male</th>
            <th colspan="4" class="align-center">Female</th>
          </tr>
          <tr>
            <th class="align-center">Total</th>
            <th class="align-center">Fee</th>
            <th class="align-center">Documents</th>
            <th class="align-center"></th>
    
            <th class="align-center">Total</th>
            <th class="align-center">Fee</th>
            <th class="align-center">Documents</th>
            <th class="align-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <br>
      </div>
      
      


      <div class="">
          <button class="btn btn-default align-left col-lg-12" type="button" data-toggle="collapse" data-target="#English" aria-expanded="false" aria-controls="collapseExample">
            Faculty of English
            </button>
        </div>
    <br>

    <div class="horizontal-scroll collapse" id="English" >
      <table class="table table-bordered">
        <thead>
        <tr>
          <th colspan="4" rowspan="3" class="align-center align-verticle-center">Program Name</th>
          <th colspan="8" class="align-center">Modify Application</th>
          </tr>
        <tr>
          <th colspan="4"  class="align-center">Male</th>
          <th colspan="4" class="align-center">Female</th>
        </tr>
        <tr>
          <th class="align-center">Total</th>
          <th class="align-center">Fee</th>
          <th class="align-center">Documents</th>
          <th class="align-center"></th>
  
          <th class="align-center">Total</th>
          <th class="align-center">Fee</th>
          <th class="align-center">Documents</th>
          <th class="align-center"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    
    
    

    

</ba-card>