.size {
    font-size: 50px;
    
  }

  .align-center {
      text-align: center;
  }

  .align-right {
    text-align: right;
  }

  .align-left {
    text-align: left;
  }

  .btnstyle {
      background-color: transparent;
      color: white;
  }

  .btn-control {
    height: 120px;
    width: 170px;
    color: white;
    background-color: transparent;
    border: 1px white solid;
  }