.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.tabbord {
    border: none;
}

.right-align {
    position: relative;
}

.width {
    width: 50%;
}